<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Edit Stadium</h1>
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <form action="/stadiums/<%=stadium._id%>?_method=PUT" method="POST" novalidate
                        class="validated-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="title"><b>Stadium Title</b></label>
                            <input class="form-control" type="text" id="title" name="stadium[title]"
                                value="<%=stadium.title %>" required>
                            <div class="invalid-feedback">
                                Please enter a title!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="location"><b>Stadium Location</b></label>
                            <input class="form-control" type="text" id="location" name="stadium[location]"
                                value="<%=stadium.location %>" required>
                            <div class="invalid-feedback">
                                Please enter a location!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="price"><b>Stadium Capacity</b></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="capacity" aria-label="capacity"
                                    aria-describedby="capacity-label" name="stadium[capacity]"
                                    value="<%=stadium.capacity %>" required>
                                <div class="invalid-feedback">
                                    Please enter a capacity!
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description"><b>Stadium Description</b></label>
                            <textarea class="form-control" type="text" id="description" name="stadium[description]"
                                required><%= stadium.description%></textarea>
                            <div class="invalid-feedback">
                                Please enter a description!
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-file custom-file">
                                <input type="file" class="form-file-input" id="image" name="image" multiple>
                                <label class="form-file-label" for="image">
                                    <span class="form-file-text custom-file-label"><b>Add image(s)...</b></span>
                                    <span class="form-file-button">Browse</span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <% stadium.images.forEach(function(img, i) { %>
                                <img src="<%=img.url %>" class="img-thumbnail" alt="Stadium">
                                <div class="form-check-inline">
                                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]"
                                        value="<%=img.filename%>">
                                </div>
                                <label for="image-<%=i%>">Delete?</label>
                                <% })%>
                        </div>
                        <div class="mb-3 stadiumUpdateButton">
                            <button class="btn btn-success stadiumUpdateButton"
                                style="margin: 0 auto; display: block;">Update
                                stadium</button>
                        </div>
                    </form>
                    <form>
                        <button class="btn btn-primary" style="margin: 0 auto; display: block;"
                            formaction="/stadiums/<%=stadium._id%>">Back to stadium
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>