<% layout('layouts/boilerplate')%>
    <h1 class="text-center">Stadium Dev Map</h1>
    <div class="containerjumbatron">
        <div class="homeSearchBar">
            <form action="/stadiums/map" method="GET" class="form-inline">
                <div class="input-group mb-3">
                    <input type="text" name="search" class="form-control form-control-lg"
                        placeholder="Stadium Map Search...">
                    <button type="submit" class="input-group-text btn-success"><i class="bi bi-search me-2"></i>
                        Search</button>
                </div>
                <%if(search===false){ %>
                    <h5 class="text-center stadiumSearchMapTextResult"><b>Number of stadiums: <%=count %>
                        </b>
                    </h5>
                <%}else{ %>
                        <h5 class="text-center stadiumSearchMapTextResult"><b>Number of stadiums from the search '<%=search%>': <%=count%></b>
                        </h5>
                <%} %>
            </form>
        </div>
    </div>

    <div>
        <% if(noMatch !== null) { %>
            <h5 class="text-center stadiumSearchMapTextResult">
                <%= noMatch %>
            </h5>
            <% } %>
    </div>
    <div id="cluster-map"></div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const stadiums = { features: JSON.parse('<%-JSON.stringify(stadiums).replace(/[\/\(\)\']/g, "&apos;").replace(/\\/g, "");%>') };
            
        // First replace ignores single quotes in stringify and second replace removes slashes in stringify as it was causing issues when parsing
        // const stadiums = { features: JSON.parse('<%-JSON.stringify(stadiums)%>') }; This is the old way we were sending the variable to the showPageMap.js file. It contains all the information abou the stadium. Now we can just send coordinates, title, and location as seen above
    </script>
    <script src="/javascripts/clusterMap.js"></script>